* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
    font-size: 14px;
    font-family: 'Open Sans',sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

button,
input {
    outline: none;
    border: none;
}

input,
textarea,
select {
    outline: none;
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
}